page-start {
  /* ------ Before animation ------ */
  height: 100%;
  /* visible */
  -webkit-transform: translate(0, 0%);
  -moz-transform: translate(0, 0%);
  -ms-transform: translate(0, 0%);
  transform: translate(0, 0%);
  /* only transition on transform properties which are hardware accelerated = way better performances */
  -webkit-transition: -webkit-transform 2s ease;
  -moz-transition: -moz-transform 2s ease;
  -ms-transition: -ms-transform 2s ease;
  transition: transform 2s ease;

  /* ------ Background ------ */
  .splash-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: url('../assets/imgs/gradiant-bg.jpg') no-repeat transparent; //background-size: contain;
    height: 65%;
    z-index: 1;
    background-repeat: repeat-x;
    animation: animatedBackground 40s linear infinite;
    text-align: center;
  }
  @keyframes animatedBackground {
    from {
      background-position: 0 0;
    }
    to {
      background-position: 100% 0;
    }
  }
  /* ------ Welcome message ------ */
  .splash-info {
    position: relative;
    z-index: 2;
  }
  .splash-intro {
    text-align: left;
    font-size: 50px;
    font-weight: bold;
    max-width: 80%;
    margin: auto;
    color: whitesmoke;
  }
  /* ------ Start button ------ */
  .jelly-button {
    background: #3498db;
    width: 180px;
    padding: 4px 0;
    position: absolute;
    left: 50%;
    //top: 50%;
    transform: translateX(-50%);
    border-radius: 3px;
    p {
      text-align: center;
      color: #FFF;
      user-select: none;
    }
    &:hover {
      cursor: pointer;
    }
    &:after {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 10%;
      border-radius: 50%;
      background-color: darken(#0f8bf1, 20%);
      opacity: 0.4;
      bottom: -30px;
    }
  }
  /* ------ Trip history ------ */
  .scrollable {
    height: 35%;
    overflow-y: scroll;
    width: 100vw;
  }
  .card {
    margin-bottom: 3px !important;
  }



  .downArrow{
    z-index: 3;
    position: fixed;
    bottom: 2px;
    left: 50%;
  }
  .bounce {
    -moz-animation: bounce 3s infinite;
    -webkit-animation: bounce 3s infinite;
    animation: bounce 3s infinite;
  }
  @-moz-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      -moz-transform: translateY(0);
      transform: translateY(0);
    }
    40% {
      -moz-transform: translateY(-30px);
      transform: translateY(-30px);
    }
    60% {
      -moz-transform: translateY(-15px);
      transform: translateY(-15px);
    }
  }
  @-webkit-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    40% {
      -webkit-transform: translateY(-30px);
      transform: translateY(-30px);
    }
    60% {
      -webkit-transform: translateY(-15px);
      transform: translateY(-15px);
    }
  }
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    40% {
      -moz-transform: translateY(-30px);
      -ms-transform: translateY(-30px);
      -webkit-transform: translateY(-30px);
      transform: translateY(-30px);
    }
    60% {
      -moz-transform: translateY(-15px);
      -ms-transform: translateY(-15px);
      -webkit-transform: translateY(-15px);
      transform: translateY(-15px);
    }
  }
}
