<div class="main">
    <img src='assets/imgs/skeleton.gif' />
    <p>skeleton chat page</p>
  <!-- <div class="chat-header">
      <div class="trip-title"></div>
      <div class="chat-ctrls">
      </div>
    </div>
    <div class="chat-box"> -->
      <!-- panning over scrollable elements (overflow: auto) causes page not to pan correctly
         <div class="message-area">
        <div class="message">
          <p></p>
        </div>
      </div> -->
      <!-- <div class="input-area">
        <form>
          <ion-input></ion-input>
          <button>
            <ion-icon name="mic"></ion-icon>
          </button>
        </form>
      </div>
    </div> -->
</div>
